{{- define "main" -}}
<div class="container-fluid light-grey">
  <div class="mx-auto post">
    <div class="card my-3">
      {{- $cover := .Resources.GetMatch "cover.jpg" -}}
      {{- $halfWidth := math.Floor (div $cover.Width 2) -}}
      {{- $half := $cover.Resize (printf "%sx" (string $halfWidth)) -}}              
      <img class="card-img-top"  src="{{ $half.RelPermalink }}" srcset="{{ $cover.RelPermalink }} 2x" alt="Cover Image">              
      <div class="card-body p-4 p-lg-5">
        <h1 class="card-title mb-0 pb-0">{{ .Title }}</h1>
        <p class="text-muted pt-0 pb-2 ms-1"><small>{{ .Date | time.Format ":date_long" }} &sdot; <a class="text-muted" href="{{ .Site.GetPage.Permalink }}">Justin Tanner</a></small></p>          
        <p class="card-text pt-0">
          {{ .Content }}
        </p>
      </div>
    </div>
  </div>

  <div class="footer mt-auto py-4">
    <div class="d-flex justify-content-center">
      <a href="/" class="font-weight-bold text-dark text-decoration-none text-no-wrap text-decoration-onhover mx-3">{{ partial "svgs/bi-arrow-return-left.html" }} All Posts</a>
    </div>
  </div>
</div>
{{- end }} 
