{{ partial "meta.html" . }}

{{- $fonts := resources.Get "css/fonts.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $fonts.RelPermalink }}" integrity="{{ $fonts.Data.Integrity }}" preload="yes" />

{{- $bootstrap := resources.Get "css/bootstrap.min.css" -}}
{{- $main := resources.Get "css/main.css" -}}
{{- $pygments := resources.Get "css/pygments-manni.css" -}}
{{- $bundle := slice $bootstrap $fonts $main $pygments | resources.Concat "bundle.css" | minify | fingerprint -}}
<link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}"/>


